<%- include('../partials/header') %>


  <h1><%=title%></h1>

  <img class="aboutpic" src="views/images/about.jpg" alt="My picture" style="width:375px;height:500px;">
         
      <p class="abouttext">My name is Svitlana and I am passionate about creating and designing web pages.<br> In the future, I want to learn how to create computer games and work with 3D modeling.<br>I am currently learning and honing my skills in a wonderful program called Year Up.<br> I'm attaching my photo here so you don't forget what I look like!</p>    

<%- include('../partials/footer') %>