<%- include('../partials/header') %>


  <h1><%=title%></h1>
         <img class="factstpic" src="views/images/facts.JPG" alt="Facts piscture" style="width:500px;height:500px;">
      <p class="factstext">I love listening to music!<br><br>I love to try new dishes!

<br><br>I like traveling!

<br><br>I like to sleep long!

<br><br>I love to be myself!

<br><br>I love to swim!

<br><br>I love shopping!<br><br>I love computer games!

<br><br>I love coffee!</p>    
      
<%- include('../partials/footer') %>