<%- include('../partials/header') %>


  <h1><%=title%></h1>



  <img class="homepic" src="views/images/ejs.png" alt="EJS picture" style="width:300px;height:250px;">
  
      <p class="homepage">The homepage showcases proficiency in Node.js, Express.js, and EJS templates.<br> It demonstrates the ability to create a dynamic and responsive web application<br>by leveraging these technologies. This practical implementation effectively<br> summarizes the lessons learned.</p>    
      
<%- include('../partials/footer') %>