<%- include('../partials/header') %>


  <h1><%=title%></h1>

  <img class="projectspic" src="views/images/projects.png" alt="My projects" style="width:800px;height:450px;">
  
      <p class="projectstext">On this page, I want to tell you about my achievements<br> that happened to me during my time at school.<br>In this photo, I'm showing off all of my projects from Tech Class!</p>    

<%- include('../partials/footer') %>